<!DOCTYPE html>
<html>
  <head>
    <title>love mirror</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>love mirror</h1>
    <p>Welcome to love mirror</p>
  </body>
</html>
