<!DOCTYPE html>
<html>
  <head>
    <title>love mirror</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>love mirror</h1>
    <p>Welcome to love mirror</p>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="./js/shaked.js"></script>
  </body>
</html>
