<!DOCTYPE html>
<html>
  <head>
    <title>love mirror</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>love mirror</h1>
    <p>Welcome to love mirror</p>
    <h2>countDown</h2><div id="countDown"></div>
    <h2>playTime</h2><div id="playTime"></div>
    <h2>winner</h2><div id="winner"></div>
    <div id="users"></div>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script type="text/javascript" src="./js/shaked.js"></script>
  </body>
</html>
