<!DOCTYPE HTML>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>LOVE MIRROR - shaker</title>
</head>
<body>
<% if (!user) { %>
  <h2>Welcome! Please log in.</h2>
  <a href="/auth/facebook">login</a>
<% } else { %>
  <h2>Hello, <%= user.displayName %>.</h2>
<% } %>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="./js/shake.js"></script>
</body>
</html>
